trigger:
- main

pool:
  name: Default
  demands: agent.os -equals Linux

variables:
  KONG_ADMIN: "http://192.168.16.144:8001"

steps:

- checkout: self

# 1) Verify tools exist
- task: Bash@3
  displayName: "Verify jq and decK"
  inputs:
    targetType: inline
    script: |
      jq --version
      deck version

# 2) Generate YAML from JSON
- task: Bash@3
  displayName: "Generate Kong YAML"
  inputs:
    targetType: inline
    script: |
      echo "Working directory:"
      pwd

      mkdir -p $(Build.SourcesDirectory)/converted-apis

      chmod +x scripts/generate-kong-yaml.sh
      ./scripts/generate-kong-yaml.sh

      echo "Files generated:"
      ls -R $(Build.SourcesDirectory)

# 3) Test Kong connectivity
- task: Bash@3
  displayName: "Test Kong Admin API connectivity"
  inputs:
    targetType: inline
    script: |
      deck gateway ping --kong-addr $(KONG_ADMIN)

# 4) Deploy using decK (absolute path)
- task: Bash@3
  displayName: "Deploy API using decK"
  inputs:
    targetType: inline
    script: |
      deck gateway sync \
        --kong-addr $(KONG_ADMIN) \
        $(Build.SourcesDirectory)/converted-apis/onboard-api.yaml

